<ng-template [ngIf]="chartType == 'line'">
    <div class="chart-wrapper-line">
        <canvas baseChart [datasets]="chartDatasets" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegend" [chartType]="chartType" [plugins]="chartPlugins">
  </canvas>
    </div>
</ng-template>

<ng-template [ngIf]="chartType == 'doughnut'">
    <div class="chart-wrapper-doughnut">
        <canvas baseChart [data]="chartDatasets" [labels]="chartLabels" chartType="doughnut">
</canvas>
    </div>
</ng-template>

<ng-template [ngIf]="chartType == 'bar'">
    <div class="chart-wrapper-bar">
        <canvas baseChart [datasets]="chartDatasets" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors" [legend]="chartLegend" chartType="bar" [plugins]="chartPlugins">
</canvas>
    </div>
</ng-template>