<ion-card>
    <ion-item>
        <button mat-icon-button slot="end" color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
            </button>

        <mat-label class="label" slot="start">{{ headline }}</mat-label>

    </ion-item>
    <ion-card-content class="content">
        <ng-template [ngIf]="showPicture">
            <div style="text-align:center;">
                <img class="picture" [src]="image" alt="some Picture" [width]="width" [height]="height">
            </div>
        </ng-template>
        <br> {{description}}
        <storybook-button mat-button class="button"> </storybook-button>

    </ion-card-content>
</ion-card>