<ion-card>
    <ion-item>
        <ion-icon name="pin" slot="end"></ion-icon>

        <ion-label class="label" slot="start">Example headline for study</ion-label>

    </ion-item>
    <ion-card-content class="content">
        <div style="text-align:center;">

            <img class="picture" [src]="image" alt="some Picture" [width]="width" [height]="height">
        </div>
        <br> There is the describtion of the study.
        <storybook-button mat-button class="button">link </storybook-button>

    </ion-card-content>
</ion-card>