ion-card {
    border-radius: 30px !important;
    padding: 0 !important;
}

.card {
    margin: 10px;
    white-space: normal !important;
}

.content {
    position: relative;
}

.picture {
    text-align: center;
    min-width: 100%;
    width: 100%;
    height: auto;
}

.label {
    margin: 20px;
    white-space: normal !important;
}

.button {
    float: right;
    margin-right: 20px;
}

.spinner {
    left: 50%;
    margin-left: -4em;
}

.row {
    column-count: 2;
    margin-left: 20px;
}

.icon {
    margin-right: 20px;
}