<ion-card>
    <ion-item>
        <button mat-icon-button slot="end" aria-label="Example icon button with a heart icon">
            <mat-icon>{{icon}}</mat-icon>
            </button>

        <mat-label class="label" slot="start">{{ headline }}</mat-label>

    </ion-item>
    <ion-card-content class="content">
        <ng-template [ngIf]="image">
            <div style="text-align:center;">
                <img class="picture" [src]="image" [alt]="alternative" [width]="width" [height]="height">

            </div>
        </ng-template>
        <ng-template [ngIf]="loading">
            <div style="text-align:center;">
                <mat-spinner class="spinner"></mat-spinner>

            </div>
        </ng-template>
        <ng-template [ngIf]="!image">
            <div>
                <br> {{description}}

                <storybook-button class="button" type="raised" color="primary">{{labelNew}} </storybook-button>
            </div>
        </ng-template>
    </ion-card-content>
</ion-card>