ion-card {
    border-radius: 30px !important;
}

.card {
    margin: 10px;
    white-space: normal !important;
    border-radius: 10px;
}

.content {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.picture {
    text-align: center;
}

.label {
    margin: 30px;
    white-space: normal !important;
}

.button {
    float: right;
}

.spinner {
    left: 50%;
    margin-left: -4em;
}

.row {
    column-count: 2;
}

.icon {
    margin: 10px;
}