<ng-template [ngIf]="horizontal">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>{{firstStepLabel}}</ng-template>
                <mat-form-field>
                    <mat-label>{{firstStepInputLabel}}</mat-label>
                    <input matInput [placeholder]="firstStepInputPlaceholder" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>{{nextButtonLabel}}</button>
                </div>
            </form>
        </mat-step>
        <ng-template [ngIf]="secondStepLabel || secondStepInputLabel || secondStepInputPlaceholder">
            <mat-step [stepControl]="secondFormGroup" [label]="secondStepLabel">
                <form [formGroup]="secondFormGroup">
                    <mat-form-field>
                        <mat-label>{{secondStepInputLabel}}</mat-label>
                        <input matInput formControlName="secondCtrl" [placeholder]="secondStepInputPlaceholder" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>{{backButtonLabel}}</button>
                        <button mat-button matStepperNext>{{nextButtonLabel}}</button>
                    </div>
                </form>
            </mat-step>
        </ng-template>
        <mat-step>
            <ng-template matStepLabel>{{doneStepLabel}}</ng-template>
            <p>{{doneText}}</p>
            <div>
                <button mat-button matStepperPrevious>{{backButtonLabel}}</button>
                <button mat-button (click)="stepper.reset()">{{resetButtonLabel}}</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-template>

<ng-template [ngIf]="horizontal==false">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>{{firstStepLabel}}</ng-template>
                <mat-form-field>
                    <mat-label>{{firstStepInputLabel}}</mat-label>
                    <input matInput [placeholder]="firstStepInputPlaceholder" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>{{nextButtonLabel}}</button>
                </div>
            </form>
        </mat-step>
        <ng-template [ngIf]="secondStepLabel || secondStepInputLabel || secondStepInputPlaceholder">
            <mat-step [stepControl]="secondFormGroup" [label]="secondStepLabel">
                <form [formGroup]="secondFormGroup">
                    <mat-form-field>
                        <mat-label>{{secondStepInputLabel}}</mat-label>
                        <input matInput formControlName="secondCtrl" [placeholder]="secondStepInputPlaceholder" required>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>{{backButtonLabel}}</button>
                        <button mat-button matStepperNext>{{nextButtonLabel}}</button>
                    </div>
                </form>
            </mat-step>
        </ng-template>
        <mat-step>
            <ng-template matStepLabel>{{doneStepLabel}}</ng-template>
            <p>{{doneText}}</p>
            <div>
                <button mat-button matStepperPrevious>{{backButtonLabel}}</button>
                <button mat-button (click)="stepper.reset()">{{resetButtonLabel}}</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</ng-template>