<p>
    <mat-toolbar [color]="color">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>{{menu_icon}}</mat-icon>
  </button>
        <span>{{title}}</span>
        <ng-template [ngIf]="showIcons">
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>{{icon1}}</mat-icon>
  </button>
            <ng-template [ngIf]="showIcon2">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>{{icon2}}</mat-icon>
 </button>
            </ng-template>
        </ng-template>
    </mat-toolbar>
</p>