.label {
    text-align: center;
    white-space: normal !important;
}


/*.content {
    background-image: url('blabla.jpg');
    background-color: transparent;
    background-size: cover;
    opacity: 0.6;
}*/