<ion-header [translucent]="true">



    <ion-toolbar>

        <div layout="row" layout-align="start center">


            <ion-title>
                Study
            </ion-title>
            <storybookInput></storybookInput>
            <app-dialog></app-dialog>



            <h4>Datepicker</h4>

            <app-ion-datetime></app-ion-datetime>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content padding>


    <app-line-chart chartType="pie"></app-line-chart>





</ion-content>