<ion-header [translucent]="true">

    <app-ion-menu></app-ion-menu>

    <ion-toolbar>

        <div layout="row" layout-align="start center">
            <ion-buttons slot="start">
                <ion-menu-button menu="custom" autoHide="false"></ion-menu-button>
            </ion-buttons>


            <ion-title>
                Study
            </ion-title>
            <storybookInput></storybookInput>
            <app-dialog></app-dialog>



            <h4>Datepicker</h4>

            <app-ion-datetime></app-ion-datetime>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollEvents]="true">


    <app-line-chart></app-line-chart>
    <ion-list>
        <app-card></app-card>
        <app-card></app-card>
    </ion-list>




</ion-content>